html,body{
   background-color: #222;
   margin: 0;
   font-size: 16px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
span{
   width: fit-content;
}
.container{
   position: relative;
   height: 100vh;
   width: 100vw;
   background-color: #111;
   overflow: auto;
}
.container h1{
   width: 100%;
   text-align: center;
   color: #aaa;
}

main{
   position: relative;
   font-size: 1.4rem;
   text-align: center;
}
main h3{
   width: 100%;
   text-align: center;
   color: #aaa;
}
.symbols-set{
   display: flex;
   justify-content: center;
}
.symbols-set button{
   background-color: #333;
   border-radius: 50%;
   border: 1px solid #333;
   font-size: 1.6em;
   min-height: 1.65em;
   min-width: 1.65em;
   margin: 5px;
}
.symbols-set button:disabled{
   opacity: 0.3;
}
.symbols-set button:not(:disabled):hover{
   cursor: pointer;
   border-color: #aaa;
}
.symbols-set button:not(:disabled):focus{
   outline: none;
}
.results-container{
   padding: 20px 0;
}
#computer-choice{
   font-size: 0.9em;
   color: #aaa;
}
#result{
   font-size: 1.2em;
   margin: 0;
}
#result.win{
   color: green;
}
#result.lose{
   color: red;
}
#result.draw{
   color: grey;
}
#scores{
   display: flex;
   padding: 10px 0;
   justify-content: center;
}
#scores li{
   list-style: none;
   margin: 0 15px;
   color: #aaa;
}
.winner{
   margin-top: 5px;
   color: green;
}
button#pi1-rock{
}
button#p1-paper{
}
button#p1-scissors{
}